<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 footer-elements">
          <a href="#"><i class="fa fa-google fa-5x" matTooltip="text me on gmail" ></i></a>
          <a href="#"><i class="fa fa-facebook fa-5x" matTooltip="be my friend on facebook"></i></a> 
          <a href="#"><i class="fa fa-twitter fa-5x" matTooltip="follow me on twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin fa-5x" matTooltip="contact me on linkedin"></i></a>
          <a href="#"><i class="fa fa-github fa-5x" matTooltip="watch me on github"></i></a>
         
        
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="py-3 text-center copyright">
      Copyright © 2022. All right reserved. This portifolio is made with <i class="fa fa-heart"></i> By Ibrahim Gidi
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->