<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 footer-elements">

      
          <!-- linkedin -->
          <a class="tw-ic blue" (click)="onClick('https://www.linkedin.com/in/ibrahim-gidi-2128a61aa')"  matTooltip="follow me on Linkedin">
            <i class="fa fa-linkedin fa-blue mr-md-5 mr-3 fa-5x"> </i>
          </a>
         
        <!-- telegram -->
        <a class="tw-ic blue" (click)="onClick('https://t.me/none_ur_biz')" matTooltip="follow me on Telegram">
          <i class="fa fa-telegram fa-lg white-text mr-md-5 mr-3 fa-5x"> </i>
        </a>
     
       
      <!--github-->
      <a class="ins-ic blue" (click)="onClick('https://github.com/Ibrogidi')" matTooltip="follow me on github">
        <i class="fa fa-github fa-lg white-text mr-md-5 mr-3 fa-5x"> </i>
      </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="py-3 text-center copyright">
      Copyright © 2022. All right reserved. This portifolio is made with <i class="fa fa-heart"></i> By Ibrahim Gidi
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->