<mat-accordion class="projects-container">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title class="projects-title ">
          Adwa Animation using Python
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> This project is a short demo about the Adwa war which was animated by python.
    </p>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Bank managment System using c++
          </mat-panel-title>
     
        </mat-expansion-panel-header>
        <p>This project is all about the operations diffrent transaction like deposite, withdraw.</p>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
Laptop Control System using java gui
        </mat-panel-title>
     
        </mat-expansion-panel-header>
        <p>This project focuses on the registration and managment of personal laptop in our campas coded using java gui.</p>
      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Graphics project using C#
        </mat-panel-title>
     
        </mat-expansion-panel-header>
        <p>This project encompases different graphic projects like designing models like cars, houses and moving objects.</p>
      </mat-expansion-panel>

      <mat-expansion-panel >

        <mat-expansion-panel-header>
          <mat-panel-title>
            Astu Exam Bank using php 
        </mat-panel-title>
     
        </mat-expansion-panel-header>
        <p>This project specially disgned for  students to get their desired mid and final exam at ease coded using php as back end and html, css and javascript as front-end.</p>
      </mat-expansion-panel>

      <mat-expansion-panel >

        <mat-expansion-panel-header>
          <mat-panel-title>
            Short Documentary movie and static website   
        </mat-panel-title>
     
        </mat-expansion-panel-header>
        <p>This project is about Mohammed Yunus's documentary. The movie is disigned using Adobe Illustrator. The static website is disgned using html and bootstrap.</p>
      </mat-expansion-panel>


      <mat-expansion-panel >

        <mat-expansion-panel-header>
          <mat-panel-title>
            Online Survey Analysis platform with Payment using Angular    
        </mat-panel-title>
     
        </mat-expansion-panel-header>
        <p>This project is my graduation project built using python django as backend, and Angular & flutter as front-end. I have participated in the front-end development. It includes building daynamic surveys, client-side error handling and it is integrated with payment system.</p>
      </mat-expansion-panel>
  
  </mat-accordion>
  