<nav class="navbar navbar-expand-lg navbar-light  fixed-top scrolling-navbar">
  <!-- <a class="navbar-brand" href="#">
    Home 
  </a> -->
  <a class="nav-link" routerLinkActive=""  routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home </a>

  <span class="spacer"></span>
    


  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">


  
 
    
    <a class="nav-link" routerLink="login"  routerLinkActive="active">Skills </a>
  
  
    <a class="nav-link" routerLink="login"  routerLinkActive="active">projects</a>
  
    <a class="nav-link" routerLink="login"  routerLinkActive="active">Contact me </a>
  


  </div>
</nav>

<!-- <mat-toolbar class="navbar  fixed-top scrolling-navbar">
  <a class="nav-link" routerLinkActive=""  routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home </a>

  
  <span class="example-spacer"></span>
  
  
  <a class="nav-link" routerLink="login"  routerLinkActive="active">Skills </a>


  <a class="nav-link" routerLink="login"  routerLinkActive="active">projects</a>

  <a class="nav-link" routerLink="login"  routerLinkActive="active">Contact me </a>


  
</mat-toolbar> -->