<div class="contents">
    <div class="home" id="home">
        <div class="container" id="research">
            <div class="left display-4">Hi, My name is Ibrahim Gidi. I'm a Junior Software Developer.</div>
        </div>

    </div>



   
    <div class="skills" id="skills">
     <div class="container display-4 " id="data" >Programmming Skills</div>
        <div class="skill-container" id="data">
         <app-skills class="pt-5"></app-skills>
        </div>
   
    </div>

  
    <div class="projects" id="projects">
     <div class="container display-4 " id="data" >List of Projects</div>
        <div class="container" id="data">
       
  <app-projects></app-projects>
        </div>

    </div>
    
  

       
        
        
    
  

</div>
<app-footer id="contacts"></app-footer>