<div class="contents">
    <div class="hero">
        <div class="container" id="research">
            <div class="left display-4">Home</div>
         
        </div>

    </div>
    <div class="hero2">
        <div class="container" id="data">
            <div class="left display-4">Skills</div>
  
        </div>

    </div>


    <div class="certificates">
        <div class="container" id="research">
            <div class="left display-4">Certificates</div>
         
        </div>

    </div>
    <div class="projects">
        <div class="container" id="data">
            <div class="left display-4">Projects</div>
  
        </div>

    </div>
    
  

    <div class="contact">
        <div class="container" id="time">
            <div class="left display-4" >Contact Me @ </div>
  
        </div>
       
        
        
    </div>
  

</div>
